%html
  %head
    %title MyMood
    = stylesheet_link_tag 'bootstrap.min'
    = stylesheet_link_tag 'bootstrap-responsive.min'
    = stylesheet_link_tag 'index'
    = stylesheet_link_tag 'jquery-ui'

  %body
    %div.navbar.navbar-inverse.navbar-fixed-top
      %div.navbar-inner
        %div.container-fluid
          %div.brand MyMood
          %ul.nav.pull-left
            %li.divider-vertical
            %li <a href="/">Home</a>
            %li.divider-vertical
            %li <a href="#">About Us</a>
            %li.divider-vertical
            %li <a href="#">Tell A Friend</a>
            %li.divider-vertical
            %li <a href="/signup">Sign Up</a>
            %li.divider-vertical

  %div#content
    %div
      %h1 HOMEPAGE!
      = form_tag sessions_path do
        = label :session, :phone_number, 'Phone Number'
        = text_field :session, :phone_number, :required => true
        = label :session, :password, 'Password'
        = text_field :session, :password, :required => true
        %br
        = submit_tag "Log In"
