%html

  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title My Mood

    = stylesheet_link_tag 'bootstrap.min'
    = stylesheet_link_tag 'bootstrap-responsive.min'
    = stylesheet_link_tag 'index'
    = stylesheet_link_tag 'jquery-ui'

  %body
    %div.navbar.navbar-inverse.navbar-fixed-top
      %div.navbar-inner
        %div.container-fluid
          %div.brand MyMood
          %form.navbar-search
            %input{:class => 'search-query', :type => 'text', :placeholder => 'Search'}
          %ul.nav.pull-right
            %li#user_pic=image_tag 'fake_user_small.png'
            %li <a href="#">user</a>
            %li.divider-vertical
            %li <a href="#">logout</a>

    %div.tabbable.tabs-left#content
      %ul.nav.nav-tabs
        %li.active#home <a href="#lA" data-toggle="tab">Home</a>
        %li <a href="#lB" data-toggle="tab">Mood Graphs</a>
        %li#msg-tab <a href="#lC" data-toggle="tab">Send Messages</a>
        %li <a href="#lD" data-toggle="tab">Patient Management</a>
      %div.tab-content
        %div.tab-pane.active#lA
          %div.container-fluid#A
            %div.row-fluid
              %div.span11
                %h3 All Users
                %div.well
                  %h4 Information
                  %p ie. list of inactive users or aggregation of all users (customizable)
              %h3 Subgroups
              %div.row-fluid.centered
                %div.span5
                  %div.row-fluid.well
                    %div.span4
                      %table.wrapper
                        %tr
                          %td=image_tag 'fake_user_big.png'
                    %div.span4.withline
                      %h4.send-msg-to-group <a href="">Group Blue</a>
                      %p 12 members
                      %p 3 inactive
                    %div.span4
                      %p <a href="" class="group-mood" data-name="Blue Group" data-activemembers="12" data-inactive="3">Avg Mood</a>
                      %table.wrapper
                        %tr
                          %td=image_tag 'perfect_moods.png'
                %div.span5.offset1
                  %div.row-fluid.well
                    %div.span4
                      %table.wrapper
                        %tr
                          %td=image_tag 'fake_user_big.png'
                    %div.span4.withline
                      %h4.send-msg-to-group <a href="#">Group Green</a>
                      %p 10 members
                      %p 0 inactive
                    %div.span4
                      %p <a href="" class="group-mood" data-name="Green Group" data-activemembers="10" data-inactive="0">Avg Mood</a>
                      %table.wrapper
                        %tr
                          %td=image_tag 'bad_moods.png'
              %div.row-fluid.centered
                %div.span5
                  %div.row-fluid.well
                    %div.span4
                      %table.wrapper
                        %tr
                          %td=image_tag 'fake_user_big.png'
                    %div.span4.withline
                      %h4.send-msg-to-group <a href="#">Group Red</a>
                      %p 10 members
                      %p 3 inactive
                    %div.span4
                      %p <a href="" class="group-mood" data-name="Red Group" data-activemembers="10" data-inactive="3">Avg Mood</a>
                      %table.wrapper
                        %tr
                          %td=image_tag 'okay_moods.png'
                %div.span5.offset1
                  %div.row-fluid.well
                    %div.span4
                      %table.wrapper
                        %tr
                          %td=image_tag 'fake_user_big.png'
                    %div.span4.withline
                      %h4.send-msg-to-group <a href="#">Group Purple</a>
                      %p 17 members
                      %p 7 inactive
                    %div.span4
                      %p <a href="" class="group-mood" data-name="Purple Group" data-activemembers="17" data-inactive="7">Avg Mood</a>
                      %table.wrapper
                        %tr
                          %td=image_tag 'average_moods.png'
          %div.container-fluid#B
        %div.tab-pane#lB
          -#%p Mood Graphs go here
        %div.tab-pane#lC
          %div.container-fluid
            %div.row-fluid
              %div.span5.well
                %h3 Send Message
                %form.form-inline
                  To
                  %input.input-medium{:type => 'text'}
                Message
                %p
                %textarea#message-content{:rows => '3'}
                %p
                %form.form-inline
                  Date
                  %input.input-medium#datepicker{:type => 'text'}
                  %div.pull-right
                    Time
                    %select
                      %option 1:00am
                      %option 2:00am
                      %option 3:00am
                      %option 4:00am
                      %option 5:00am
                      %option 6:00am
                      %option 7:00am
                      %option 8:00am
                      %option 9:00am
                      %option 10:00am
                      %option 11:00am
                      %option 12:00pm
                      %option 1:00pm
                      %option 2:00pm
                      %option 3:00pm
                      %option 4:00pm
                      %option 5:00pm
                      %option 6:00pm
                      %option 7:00pm
                      %option 8:00pm
                      %option 9:00pm
                      %option 10:00pm
                      %option 11:00pm
                      %option 12:00am
                %p
                %button.btn-large#confirm-message-btn Send Message at Indicated Time
        %div.tab-pane#lD
          %p Manage the patients here

    = javascript_include_tag 'bootstrap.min.js'
    = javascript_include_tag 'd3.v3.min.js'
    = javascript_include_tag 'jquery-1.10.2.min.js'
    = javascript_include_tag 'index.js'
    = javascript_include_tag 'jquery-ui'
